@charset "utf-8";

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
}

h1{
  color: #fe4b71;  
}

a{
  background: #ff9700;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
}

a:hover{
  box-shadow: none;
  transition: all .2s ease-in-out;
}